<!DOCTYPE html>
<html lang='en'>
<head>
  <title><%= render_page_title %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="<%= Settings.GOOGLE_SITE_VERIFICATION %>" />
  <meta name="msvalidate.01" content="<%= Settings.BING_SITE_VERIFICATION %>" />
  <%= favicon_link_tag asset_path('favicon-32x32.png') %>
  <meta name="description" content="Johns Hopkins University Libraries' official online search tool for geographic information systems (GIS), maps, and other geographic datasets." />
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script
    src="https://browser.sentry-cdn.com/6.3.0/bundle.min.js"
    integrity="sha384-WgORxZTgCBZ7OuRalW7vYFXjvpXNZavDV8wWQWVbaNd57Ht4aYBVD1rRcz8dlyUM"
    crossorigin="anonymous"
  ></script>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'analytics' %>

  <%= csrf_meta_tags %>
  <% if content_for? :head %>
   <%= yield :head %>
 <% end %>

</head>
<body class="<%= render_body_class %>">
  <div id="jhu-wrap"> <!-- #jhu-wrap start -->
    <div id="jhu-content"> <!-- #jhu-content start -->
      <%= render 'shared/top_navbar' %>
      <%= render 'shared/header_navbar' %>
      <div id='main-container' role='main' class='container mt-4' data-analytics-id="<%= Rails.configuration.google_analytics %>">
        <%= content_for(:container_header) %>
        <%= render :partial=>'/shared/flash_msg', layout: 'shared/flash_messages' %>

        <div class='row'>
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </div>
    </div> <!-- #jhu-content end -->
  </div> <!-- #jhu-wrap end -->
  <%= render partial: 'shared/footer' %>
  <%= render partial: 'shared/modal' %>
  <%= render 'shared/jhu_footer' %>
  <%= render 'shared/sitelinks_search_box' %>
</body>
</html>
